@import url("../css/styles.css");

body {
  overflow: hidden;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

#console-container {
  padding: 10px;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
/* scrollbar background color and bar color*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: seagreen
}
/* scrollbar firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #2e8b57 transparent;
}

.top-bar {
  background-color: seagreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

p {
  margin: 10px;
  color: #e0e0e0;
  font-size: 1rem;
}

.container div {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  margin: 0;
  line-height: 1.3;
  display: inline;
  color: seagreen;
}
