@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

:root {
    --primary-color: #156d57;
    --secondary-color: #e0e0e0;
    --background-color: #121212;
    --blue-color: #2a4285;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Mono", monospace;
    background-color: var(--background-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

#buttons-container {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.button {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#console-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

#console-link:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#github-link {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

#github-link:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

#mal-link {
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
}

#mal-link:hover {
    background-color: var(--blue-color);
    color: var(--secondary-color);
}